<h2>Soal 1: Pivoting and Melting</h2>

Jelaskan itu pivoting dan melting data

jawaban:
- Pivoting adalah suatu pengubahan bentuk data dengan memutar data yang terletak di baris menjadi di column.
- Kita juga dapat mengatakan pivoting tabel adalah melakukan perubahan pada bentuk data dari yang tadinya panjang menjadi lebar.
- Melting adalah ‘unpivoting’, melting mengubah suatu data dengan memutar dari yang tadinya berada di posisi column menjadi di posisi row.
- Melting mengubah data yang tadinya lebar menjadi panjang.

<h2>Soal 2: Data structure Comprehension</h2>

Data yang rapi adalah:
1. Setiap row menunjukan suatu unit observasi
2. Setiap column merupakan suatu unit variable

Bagaimana pun, dalam menentukan unit observasi itu tergantung dari kasus yang di hadapi. sebagai seorang data scientist pasti akan menemukan berbagai bentuk struktur data. adalah sangat penting bagi seorang data scientist untuk dapat memahami dan menjelaskan setiap struktur data. Kemampuan memahami hubungan antara index baris, column dan isi data adalah kunci untuk memahami informasi apa yang data sedang beritahukan kepada kita.

Di bawah ini terdapat 2 data yang berisi sama, tetapi memiliki struktur yang berbeda. Jelaskan perbedaan dari 2 struktur data tersebut

![alt text](https://drive.google.com/uc?id=1h13CDPzIjc-2XyRcyu-p1fet0Ep1gdMA)

![alt text](https://drive.google.com/uc?id=12ji98ell5tNcCxeBzl4v8qqBtFMgDSr0)

Data1:
- Bisa dibilang data terpivot.
- Memiliki column 'Mata Pelajaran' yang terdiri atas 'Fisika','Matematika', dan 'Statistika'.
- Memiliki index 'Tipe Ujian' yang terdiri atas 'UAS1','UAS2','UTS1', dan 'UTS2'.
- Memiliki value 347 dst sampai dengan 437.

Data2:
- Bisa dibilang data unpivot.
- Terdapat id_vars 'Tipe Ujian'.
- Terdapat value_vars 'Fisika','Matematika', dan 'Statistika'.

<h2>Soal 3: Reshaping Data 1</h2>

In [ ]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}
df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          591                 70
1        UAS1         Fisika                          445                 78
2        UTS2         Fisika                          625                 80
3        UAS2         Fisika                          249                 80
4        UTS1     Matematika                          764                 58
5        UAS1     Matematika                          456                 70
6        UTS2     Matematika                          342                 87
7        UAS2     Matematika                          236                 44
8        UTS1     Statistika                          563                 97
9        UAS1     Statistika                          316                 54
10       UTS2     Statistika                          521                 61
11       UAS2     Statistika                          214                 84

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [ ]:
# code here
import numpy as np

pivot_result = df.pivot_table(values=('Rata2 Waktu Belajar (menit)','Rata2 Nilai Ujian'), index='Tipe Ujian', columns='Mata Pelajaran', aggfunc=np.sum)
pivot_result

               Rata2 Nilai Ujian             ... Rata2 Waktu Belajar (menit)
Mata Pelajaran            Fisika Matematika  ...                  Matematika Statistika
Tipe Ujian                                   ...
UAS1                          78         70  ...                         456        316
UAS2                          80         44  ...                         236        214
UTS1                          70         58  ...                         764        563
UTS2                          80         87  ...                         342        521

[4 rows x 6 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)

<h2>Soal 4: Reshaping Data 2</h2>

In [ ]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
# df = pd.DataFrame(data)
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

In [ ]:
df.reset_index(inplace=True)
df.melt(id_vars=['Hari'], value_vars=['Kebun Binatang','Dufan', 'Disney', 'Bali'])

     Hari        variable  value
0   Sabtu  Kebun Binatang    271
1  Minggu  Kebun Binatang    399
2   Sabtu           Dufan    501
3  Minggu           Dufan    700
4   Sabtu          Disney   1000
5  Minggu          Disney   1001
6   Sabtu            Bali    900
7  Minggu            Bali    803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

Expected Result:

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)

<h2>Soal 5: Pivoting and Aggregating</h2>

In [ ]:
import pandas as pd

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1']*3,
    'Mata Pelajaran' :['Statistika', 'Fisika', 'Fisika', 'Statistika', 'Fisika', 'Statistika'],
    'Jumlah Peserta' : [14, 17, 12, 16, 14, 13]
}
# df = pd.DataFrame(data)
df = pd.DataFrame(data).set_index('Tipe Ujian')
df

           Mata Pelajaran  Jumlah Peserta
Tipe Ujian
UTS1           Statistika              14
UAS1               Fisika              17
UTS1               Fisika              12
UAS1           Statistika              16
UTS1               Fisika              14
UAS1           Statistika              13

Perhatikan bahwa data jumlah peserta ujian untuk suatu tipe ujian dan mata pelajaran tertentu ada yang duplikat, ubahlah struktur data tersebut dan lakukan aggregasi berjenis jumlah sehingga sesuai dengan hasil yang di harapkan

Expected Result:

![alt text](https://drive.google.com/uc?id=1emoz7orYR-0mCHffvAgM8j-V1P6yVHf0)

In [ ]:
#Code here
import numpy as np

df.reset_index(inplace=True)
pivot_result = df.pivot_table(values=('Jumlah Peserta'), index='Tipe Ujian', columns='Mata Pelajaran', aggfunc=np.sum)
pivot_result

Mata Pelajaran  Fisika  Statistika
Tipe Ujian
UAS1                17          29
UTS1                26          14